.appHeader {
  background: linear-gradient(90deg, #bf360c -50%, #3e2723 50%, #bf360c 150%);
  font-size: 25px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.link {
  color: white;
}
